body{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}
#add{
    background-color:#000000;
    border:0;
    color:burlywood;
    padding:10px 10px;
    
    font-size: large;
    margin-left: 0;
    cursor:pointer;
    margin-top: 2rem;
}
h1{
    color: white;
}
#task{
    padding: 10px;
    border: 0;
    font-size: large;
    width: 100%;
    max-width: 200px;
}
#wrapper{
    width: 500px;
    height: fit-content;
    background-color:#8d1b5a;
    padding-bottom:30px;
    padding-left:50px;
    padding-top:30px;
    padding-right:65px; 
    border-radius:25px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}